<br>
<br>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 p-5">
      <div class="jumbotron mx-auto" style="background:transparent">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a simple Weather App,here you can able to see multiple city's
          temperature in single time and compare them as per your requirement.</p>
        <hr class="my-4">
        <p>It uses OpenWeatherMap API to fetch data.so whatever data is comming from server is a live data.</p>
        <a mat-raised-button color="primary" routerLink="/home" role="button">Get Started</a>
      </div>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid d-block" src="../../assets/Undraw/undraw_weather_d9t2.png">
    </div>
  </div>
  <div class="row" style="height: 160px;">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quasi cumque aliquam! Doloremque ad,
      ducimus optio, soluta recusandae distinctio eligendi deserunt debitis incidunt culpa non praesentium iure hic!
      Earum quam eaque quo nemo debitis, quibusdam consequuntur optio fuga aperiam obcaecati et aliquam vero ad, quasi
      accusantium! Hic odit, ratione, iusto earum quae officiis laudantium illum repellendus corrupti velit fuga natus
      nobis perspiciatis voluptatem fugiat, consectetur numquam quis. Aspernatur molestias corporis molestiae veritatis
      modi? Eum voluptate placeat, illo minus repudiandae eos officia atque voluptates similique recusandae et, adipisci
      beatae, dolorem officiis error aliquid! Numquam pariatur inventore, architecto hic possimus voluptates explicabo.
    </p>
  </div>
</div>
